@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&display=swap");

.qrcode {
  text-align: center;
  padding: 15px;
  border: 4px #db77146e;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  width: 5cm;
  height: 5cm;
  margin: 0.3cm;
  background-color: white;
  h3 {
    margin: 5px 0 0 0;
    padding: 0;
    line-height: 20px;
    font-family: "Courgette";
    font-size: 20px;

    .hart {
      position: absolute;
      background-image: url(./hart.svg);
      width: 26px;
      height: 26px;
      background-size: contain;
      margin-left: -24px;
      margin-top: -10px;
    }
  }
  div {
    display: block;
    height: 124px;
    overflow: hidden;
    canvas {
      width: 120px;
      height: 120px;
      border-radius: 4px;
    }
  }

  &__id {
    color: rgb(235, 235, 235);
    font-size: 12px;
  }
}

.matrix {
  // border-left: 0.01cm solid $cufline;
  // border-top: 0.01cm solid $cufline;
}

.cutblock {
  display: inline-block;
  // border-right: 0.1cm solid $cufline;
  // border-bottom: 0.1cm solid $cufline;
  // background-color: #db771421;
}
